@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body{
	color: #e5744c;
	text-align: center;
}
h1{
	color: #343a61;
	font-weight: bolder;
	font-family:'Shadows Into Light';
	line-height: .75em;
	margin: 0.005px;
}
h2{
	color: #e5744c;
	font-family: 'Amatic SC', bold;
	line-height: 1.5em;
	font-weight: bold;
}
p{
	font-family: arial;
	font-weight: bold;
	font-size: 1em;
	line-height: 2em;
}
#slogan{
	color: #343a61;
	font-family: 'Amatic SC', bold;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}
img{ 
	border: 4px solid #000000;
}
ul{
	text-align: center;
	color: #343a61;
	list-style-type: none;
	font-variant: small-caps;
	font-style: italic;
	text-transform: uppercase;
}